.carrito {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 400px;
        }

      .carrito  table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 15px;
        }

       .carrito th, td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        .carrito .actions button {
            padding: 10px;
            margin-right: 10px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

       .carrito  .cart-total {
            text-align: right;
        }

       .carrito #formularioPedido, .carrito 
        .discount,
       .carrito a {
            margin-top: 20px;
        }

       .carrito  input[type="text"],
        .carrito select,
       .carrito  button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        .carrito .discount input {
            margin-bottom: 10px;
        }

        .carrito button {
            background-color: #d9534f;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

       .carrito  button:hover {
            background-color: #c9302c;
        }

        .carrito a {
            display: block;
            text-align: center;
            color: #333;
            text-decoration: none;
            padding: 10px;
            background-color: #ddd;
            border-radius: 4px;
        }

       .carrito  a:hover {
            background-color: #ccc;
        }









