.carritoo #formularioPedido {
            background-color: #fff;
            padding: 20px;
            margin: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .carritoo table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        .carritoo th,
        .carritoo td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .carritoo th {
            background-color: #333;
            color: #fff;
        }

        .carritoo .actions,
        .carritoo .cart-total,
        .carritoo .discount {
            margin-top: 20px;
            padding: 15px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .carritoo button {
            background-color: #333;
            color: #fff;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
        }

        .carritoo a {
            display: block;
            margin: 10px 0;
            padding: 10px;
            background-color: #333;
            color: #fff;
            text-align: center;
            text-decoration: none;
            border-radius: 8px;
        }

       .carritoo  #formularioPedido,
        .discount,
        a {
            text-align: center;
            margin: 20px;
        }

        .carritoo #formularioPedido label,
        .carritoo #formularioPedido select,
        .carritoo #formularioPedido input,
        .carritoo  .discount input {
            margin-bottom: 10px;
        }

        .carritoo #formularioPedido button, .carritoo 
        .discount button,
        .carritoo a {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

       .carritoo  #formularioPedido button:hover,
        .carritoo .discount button:hover, .carritoo 
        a:hover {
            background-color: #45a049;
        }












