@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css");
@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');
/*
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css">
*/
:root {
    /* Palette */
    --primary-solid: rgb(255, 51, 51);
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: rgb(29, 132, 181);
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);

    --dark-solid: rgb(31, 31, 31);
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #fafaff;
    --light-font-solid: #fff;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

* ,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a{
    text-decoration: none;
    font-size: 2em;
    font-family: inherit;
    color: inherit;
}


header {
    background-color: #30343F;
}

header,footer{
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul,ol{
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

img{
    width: 100%;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.nav-item a {

    color: white;
    text-decoration: none;
    position: relative;
}

.nav-link {
    transition: background .3s ease-in-out;
}

.nav-item a:hover {
    color: white;
    text-decoration: underline;
    background-color: var(--primary-900);
}

footer {
    background-color: #30343F;
}

footer nav ul {
    list-style-type: none
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

footer nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

.icono {
    text-decoration: none;
    font-size: xx-large;
}

.icono a:hover {
    text-decoration: none;
}

.with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.submenu_link {
    transition: background .3s ease-in-out;
    display: block;
    padding: var(--spacing-8) var(--spacing-16);

}

.submenu_link:hover {
    background-color: var(--primary-900);
}

/*Hero */
.hero {
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.hero::before {
    content: '';
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    opacity: 0.6;
    /* Establecer la opacidad para simular brightness */

}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    align-items: start;
    z-index: 2;
    position: relative;
}

.hero__title {
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
}

.hero__text {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
}

.hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.hero__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
} 

/*   COLLECTIONS */

.collection {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection_cover {
    order: -1;
}

.collection_content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection_title{
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 500;
}
.collection_text{
    font-family: var(--alternative-font);
    font-size: var(--font-large);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection_link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: background .3s ease-in-out;
}

.collection_link:hover {
    background-color: var(--primary-900);
}

/* SLIDER */

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
}
/*
.slider__items {
    display: flex;
    gap: var(--spacing-24);  
}*/
iconify-icon {
    color: var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
}

/* FOOTER */

.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav{
    align-items: center;
}

.navbar__link{
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
}

.navbar__link:hover{
    background-color: var(--primary-900);
}

.footer__copy {
    margin-top: var(--spacing-36);
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    padding-top: 50px;
    
}

.form-container .input-label {
    display: block;
    margin-top: 10px;
    
}

.form-container .input-text {
    width: 400px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    
}

.form-container .input-area {
    width: 400px;
    margin-top: 10px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    border: none;
}

.form-container .input-button {
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-container .my-button {
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#FFD27D;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:35px;
    }



form {
    font-family: 'Montserrat', sans-serif;
      background-color: #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      margin: 0;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      /*width: 100vh;*/
      text-align: center;
      animation: fadeInUp 0.5s ease;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    input {
      width: 50%;
      padding: 8px;
      /*margin-bottom: 16px;*/
      box-sizing: border-box;
    }

    input[type="submit"] {
      background-color:rgb(255, 51, 51);
      color: #fff;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    .custom-btn{
        font-size:larger;
    }

    .center {
        text-align: center;
      }
      
      .pagination {
        display: inline-block;
      }
      
      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
      }
      
      .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
      }
      
      .pagination a:hover:not(.active) {background-color: #ddd;}

    @keyframes fadeInUp {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .item {
        display: flex;
        align-items: center;
        gap: var(--spacing-24);
    }
    .carritoo #formularioPedido {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carritoo table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.carritoo th,
.carritoo td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.carritoo th {
    background-color: #333;
    color: #fff;
}

.carritoo .actions,
.carritoo .cart-total,
.carritoo .discount {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carritoo button {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.carritoo a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}
