
<!--Footer-->

<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__items">
            <li class="navbar__item">
                <a class="navbar__link" href="./shop">SHOP</a>
            </li>
            <li class="navbar__item" >
                <a class="navbar__link" href="./auth/login">INGRESAR</a>
            </li >
            <li class="navbar__item">
                <a class="navbar__link" href="./contact">CONTACTO</a>
            </li>
        </ul>
        <picture>
            <img src="./img/branding/isotype.svg" alt="Isotipo de la marca Funkopop">
        </picture>
        
    </nav>
    
    <div class="icono text-center mt-4">
        <a href="#" target="_blank" class="fa fa-facebook mx-4 text-white"></a>
        <a href="#" class="fa fa-twitter mx-4 text-white"></a>
        <a href="#" target="_blank" class="fa fa-instagram mx-4 text-white"></a>
    </div>
    <br>
    
<br>
<p class="footer__copy">All rights reserved 2023 - Funkoshop &copy</p>
</footer>



